# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are: Python, R, SQL

### Some of the commonly used libraries used by Data Scientists include: NumPy, Pandas, pytorch

 ### Data Science tools : Tableau, Apache spark, R

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
## This a simple arithmetic expression to mutiply then add integers

In [5]:
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60

In [13]:
Minutes = 200 
Hours = (200/60)
print(Hours)

3.3333333333333335

## Objectives:

## Python.R.SQL.Java.Julia.